
*{
    margin: 0px;
    padding: 0px;
    
}
h1 {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
}
header {
    background: #F5ca48;
    border-radius: 10px;
    width: 100vw;
    height: 20vh;
    flex-shrink: 0;
    border: 0px solid #000;
}