
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: hsl(0, 0%, 96%);
}
header { 
    background: #F5ca48;
    width: 100%;
    height: 20vh;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 2%;
}
header h1{
    font: normal;
    font-size:70px;
    font-family: 'poppins';
}
h1 {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}
/* TUDO QUE ESTA DENTRO DO MAIN */
main{
    width: 73%;
    overflow: hidden;
    float: left;
    margin: 0vw 2vw;
}

    /* SECTION CATEGORIA */
    .sec-cat{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30vh;
    }
    .sec-cat img{
        width: 6vw;
    }
    .card-categorias{    
        display: flex;    
        width: 24.5%;    
        height: 11vh;    
        padding: 4%;    
        flex-direction: column;    
        justify-content: center;   
        align-items: center;    
        border-radius: 19.386px;  
        background: var(--color-white, #FFF);
    }
    .card-categorias > p{    
        color: var(--color-gray-1, #A098AE);
        text-align: center;    
        font-family: 'Poppins';    
        font-size: 21.809px;    
        font-style: normal;    
        font-weight: 400;    
        line-height: normal;    
    }

    /* SECTION ESPETINHOS */
    .sec-esp{
        display: flex;
        justify-content: space-between;
     }
    .card-espetinhos{
        display: flex;
        flex-direction: column;
        width: 23.5vw;
        height: 75vh;
        justify-content: center;
        align-items: center;
        border-radius: 19.386px;
        background: var(--color-white, #FFF);
        color: var(--color-black, #2E2E2E);
        font-family: Poppins;
        font-size: 22.552px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .card-espetinhos footer{
        height: 10%;
        display: flex;
        width: 100%;
        transform: translateY(px);
        justify-content: space-around;
    }
    .sec-esp img{
        width: 20vw;
        transform: translateY(-35px);
    }

    /* SECTION SOBREMESAS */
    .sec-sob{
        display: flex;
        justify-content: space-between;
    }
    .card-sobremesa{
        display: flex;
        flex-direction: column;
        width: 23.5vw;
        height: 70vh;
        justify-content: center;
        align-items: center;
        border-radius: 19.386px;
        background: var(--color-white, #FFF);
        color: var(--color-black, #2E2E2E);
        font-family: Poppins;
        font-size: 22.552px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .card-sobremesa footer{
        height: 10%;
        display: flex;
        width: 100%;
        transform: translateY(35px);
        justify-content: space-around;
    }
    .sec-sob img{
        /* width: 280px; */
        width: 20vw;
    }
    .card-sobremesa > p , .card-espetinhos > P{
        color: var(--color-black, #2E2E2E);
        font-family: Poppins;
        font-size: 22.552px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    /* SECTION BEBIDAS */
    .sec-beb{
        display: flex;
        justify-content: space-between;
     }
    .card-bebidas{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 420px;
        justify-content: center;
        align-items: center;
        border-radius: 19.386px;
        background: var(--color-white, #FFF);
        color: var(--color-black, #2E2E2E);
        font-family: Poppins;
        font-size: 22.552px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .card-bebidas footer{
        height: 10%;
        display: flex;
        width: 100%;
        transform: translateY(35px);
        justify-content: space-around;
    }
    .sec-beb img{
        /* width: 180px; */
        width: 15vw;
        transform: translateY(-20px);
    }

h5{
    font-weight: 600;
    font-size: 10pt;
    font-family: 'poppins';
    width: 144.779px;
    height: 48.307px;
    flex-shrink: 0;
    color: var(--color-black, #2E2E2E);
    font-family: Poppins;
    font-size: 29.079px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 5px;
}
aside{
    width: 22%;
    float: left;
    height: 1393px;
    flex-shrink: 0;
    background: var(--color-white, #FFF);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


aside > p{
    width: 120px;
    height: 20px;
    flex-shrink: 0;
    color: var(--color-black, #2E2E2E);
    font-family: Poppins;
    font-size: 16.722px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 126px;
    margin-left: -120px;
    margin-bottom: 20px;
}
.cartao{
    width: 260px;
    height: 141.356px;
    background: #F5CA48;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.balance{
    display: flex;
    width: 216px;
    height: 48px;
    padding: 11.148px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 11.148px;
    background: var(--color-white, #FFF);
    padding-right: 3px;
    position: absolute;
    top:330px;
}
.cifrao{
    color: #F8B602;
    font-family: Poppins;
    font-size: 30.069px;
    font-style: normal;
    font-weight: 700;
    transform: translate(10px,15px);
    background: -webkit-linear-gradient(left, #eeb61b 22%, #2E2E2E 0%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.preco{
    color: var(--color-black, #000000);
    font-family: Poppins;
    font-size: 30.069px;
    font-weight: 800;
    transform: translate(-20px,15px);
}
.mais{
    background-color: #F8B602;
    border: none;
    width: 17%;
    /* height: 52px; */
    height: 120%;
    color: white;
    font-size: 30px;
    font-family: poppins;
    font-weight: 600;
    /* border-radius: 15px; */
    border-radius: 29%;
    transform: translate(-10px,10px);
}
.mais:hover{
    background-color: #eeb61b;
}
.mais:active {
    background-color: #f8c436; /* Altere a cor conforme necessário */
    color: white;
  }

.balance > p{
    color: var(--color-black, #2E2E2E);
    font-family: Poppins;
    font-size: 9.754px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.balance > h1{
    color: var(--color-black, #2E2E2E);
    font-family: Poppins;
    font-size: 22.296px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.top-up{
    width: 210px;
    height: 35.975px;
    flex-shrink: 0;
    border-radius: 9.148px;
    background: var(--color-white, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 409px;

    
}
.top-up > img{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 25px;
    height: 25px;
}
@media only screen and (max-width: 959px) {
    p{
        font-size: 10px;
    }
    .balance > h1{
        font-size: 10px;
    
    }
    header h1{
        font-size:60px;
    }
    .card-categorias > p{       
        font-size: 35px;      
    }
    .preco{
        font-size: 25px;

    }
    .cifrao{
        font-size: 30px;
    }
    aside{
        display: none;
        width: 0px;
        height: 0px;
    }
    main{
        width: 95%;
        height: 95%;
    }
    .card-espetinhos{
        display: flex;
        flex-direction: column;
        width: 45vw;
        height: 60vh;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 19.386px;
        background: var(--color-white, #FFF);
        color: var(--color-black, #2E2E2E);
        font-family: Poppins;
        font-size: 22.552px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .sec-esp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     footer > p{
        font-size: 300em;
        background: -webkit-linear-gradient(left, #eeb61b 22%, #2E2E2E 0%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
     }
     .sec-sob{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     .card-sobremesa{
        display: flex;
        flex-direction: column;
        width: 45vw;
        height: 60vh;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 19.386px;
        background: var(--color-white, #FFF);
        color: var(--color-black, #2E2E2E);
        font-family: Poppins;
        font-size: 22.552px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .sec-beb{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
    .card-bebidas{
        display: flex;
        flex-direction: column;
        width: 45vw;
        height: 60vh;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 19.386px;
        background: var(--color-white, #FFF);
        color: var(--color-black, #2E2E2E);
        font-family: Poppins;
        font-size: 22.552px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .sec-cat img{
        width: 13vw;
    }
    .sec-beb img{
        /* width: 180px; */
        width: 30vw;
        transform: translateY(-20px);
    }
    .sec-sob img{
        /* width: 280px; */
        width: 30vw;
    }
    .sec-esp img{
        width: 30vw;
        transform: translateY(-35px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    p{
        font-size: 12px;
    }
    .balance > h1{
        font-size: 12px;
    
    }
    header h1{
        font-size:50px;
    }
    .card-categorias > p{       
        font-size: 16px;      
    }
    .preco{
        font-size: 20px;

    }
    .cifrao{
        font-size: 30px;
    }
}


@media only screen and (max-width: 767px) {
    p{
        font-size: 14px;
    }
    .balance > h1{
        font-size: 14px;
    }
    header h1{
        font-size:40px;
    }
    .card-categorias > p{       
        font-size: 12px;      
    }
    .preco{
        font-size: 16px;

    }
    .cifrao{
        font-size: 30px;
    }
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
    p{
        font-size: 9px;
    }
    .balance > h1{

        font-size: 9px;
    
    }
    header h1{
        font-size:30px;
    }
    .card-categorias > p{       
        font-size: 18px;      
    }
    .preco{
        font-size: 13px;

    }
    .cifrao{

        font-size: 30px;
    }
}


@media only screen and (max-width: 479px) {
    p{
        font-size: 7px;
    }
    .balance > h1{
        font-size: 7px;
    
    }
    header h1{
        font-size:20px;
    }
    .card-categorias > p{       
        font-size: 36px;      
    }
    .preco{
        font-size: 8px;

    }
    .cifrao{

        font-size: 11px;
    }
}



